.button-yes {
    padding: 20px 30px;
    background-color: #1765CC;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.button :hover {
    color: #1765CC;
    background-color: white;
}